<nav class="navbar navbar-expand-lg bg-primary navbar-scroll">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="/assets/AngularJS-Shield.svg" alt=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/welcome"
            routerLinkActive="active-link"
            >WELCOME</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            aria-current="page"
            routerLink="/results"
            routerLinkActive="active-link"
            >RESULTS</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
