<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img
          src="https://img.icons8.com/color/96/000000/angularjs.png"
          width="90"
          alt="angular-logo"
        />
      </div>
      <div class="quiz-header">
        <h4>Angular & TypeScript Quiz</h4>
        <ng-container *ngIf="!isQuizCompleted">
          <span style="font-style: italic" *ngIf="userName"
            >Welcome {{ userName }}</span
          >
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="score">
          <h5>{{ points }} Points</h5>
          <h6 class="correct">Correct answers: {{ correctAnswer }}</h6>
          <h6 class="incorrect">Incorrect answers: {{ inCorrectAnswer }}</h6>
        </div>
        <div class="question-remain">
          <span style="font-style: italic"
            >Question {{ currentQuestion + 1 }} of
            {{ questionList.length }}</span
          >
        </div>
        <!--         <div class="timer">
          <h5>
            {{ counter }} sec
            <img src="/assets/watch.svg" alt="watch-logo" width="30" />
          </h5>
        </div> -->
      </div>
      <div class="progress">
        <div
          class="progress-bar bg-success"
          role="progressbar"
          aria-label="Success example"
          [ngStyle]="{ 'width.%': progress }"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="question">
        <div class="card" *ngIf="questionList">
          <h3 *ngIf="questionList.length > 0">
            {{ questionList[currentQuestion].questionText }}
          </h3>
        </div>
        <div class="options">
          <ol *ngFor="let option of questionList[currentQuestion]?.options">
            <li (click)="answer(currentQuestion + 1, option)">
              <div appChangeBg [isCorrect]="option.correct" class="card">
                {{ option.text }}
              </div>
            </li>
          </ol>
        </div>
      </div>
      <ng-container *ngIf="answered">
        <div class="explanation">
          {{questionList[currentQuestion].explanation}}
        </div>
      </ng-container>
      <div class="d-flex justify-content-between">
        <button
          class="btn"
          (click)="previousQuestion()"
          [disabled]="currentQuestion === 0"
        >
          <i
            class="fa text-primary fa-chevron-left fa-2x"
            aria-hidden="true"
          ></i>
        </button>
        <button class="btn" (click)="resetQuiz()">
          <i class="fa fa-refresh text-primary fa-2x" aria-hidden="true">
            RESET QUIZ</i
          >
        </button>
        <button
          class="btn"
          (click)="nextQuestion()"
          [disabled]="currentQuestion === questionList.length - 1"
        >
          <i
            class="fa text-primary fa-chevron-right fa-2x"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <h5>{{ userName }} you completed quiz!</h5>
      <h6>Points: {{ points }}</h6>
      <h6>Correct Answers: {{ correctAnswer }}</h6>
      <h6>Incorrect Answers: {{ inCorrectAnswer }}</h6>
    </ng-container>
  </div>
</div>
