.progress{
    margin: 10px 0;
}
.card { 
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover{
    border: 1px solid blue;
}

ol {
    padding: 0;
}

.correct {
    color: rgb(0, 89, 255)
}

.incorrect {
    color: red;
    
}

.explanation {
    background-color:beige;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}