<div class="container bg-light py-5">
    <h1 class="fw-bold">Welcome to Quiz</h1>
    <p class="col-md-8 fs-4">This quiz will contains total x questions. Each question holds y points.</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
    </ol>
    <div class="input-group mb-3">
        <input #name type="text" class="form-control" placeholder="Enter your name" aria-label="Username" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2" routerLink="/question" routerLinkActive="active-link" (click)="startQuiz()">Start Quiz</button>
    </div> 
</div>